.card-swap-container {
  position: relative; 
  perspective: 1200px;
  overflow: visible;
  z-index: 10;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #0f172a; 
  box-shadow: 
    0 20px 40px -10px rgba(0, 0, 0, 0.7),
    0 0 0 1px rgba(255, 255, 255, 0.05);
  
  transform-style: preserve-3d;
  will-change: transform;
  
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto; 
}

@media (min-width: 1024px) {
  .card-swap-container {
    margin-right: -20px; 
  }
}

@media (max-width: 1023px) {
  .card-swap-container {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    transform: none !important;
    
    margin: 0 auto;
    
    margin-bottom: 60px; 
  }
}