@import "tailwindcss";

@theme {
  --color-dark-bg: #0b0e14;
  --color-dark-card: #161b22;
  --color-dark-border: #30363d;
  --color-dark-text: #8b949e;

  --color-zenith-blue: #3b82f6;
  --color-zenith-purple: #8b5cf6;
  --color-zenith-emerald: #10b981;

  --radius-bento: 2.5rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
  @apply bg-white text-[#222222] antialiased;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.01em;
  word-break: normal;
    hyphens: none;
}
}